/* --------- landing --------- */
.block_rev {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background-color: #f7f7f7;
}
@media screen and (max-width: 980px) {
  .block_rev {
    padding: 15px;
    margin: 20px 10px;
  }
}
@media screen and (max-width: 600px) {
  .block_rev {
    padding: 10px;
    margin: 10px 5px;
  }
}
.block_rev .block_rew_img {
  display: inline-block;
  height: 110px;
  width: 100%;
  vertical-align: middle;
  overflow: hidden;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_img {
    height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_img {
    height: 90px;
  }
}
.block_rev .block_rew_img img {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_img img {
    width: 60%;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_img img {
    width: 50%;
  }
}
.block_rev .block_rew_img .im_logo_2 {
  margin-top: 19px;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_img .im_logo_2 {
    margin-top: 17px;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_img .im_logo_2 {
    margin-top: 20px;
  }
}
.block_rev .block_rev_1 {
  margin-right: 25px !important;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rev_1 {
    margin-right: 10px !important;
  }
}
@media screen and (max-width: 440px) {
  .block_rev .block_rev_1 {
    margin-right: 0px !important;
    margin-bottom: 0;
  }
}
.block_rev .block_rew_item {
  width: 570px;
  padding: 35px 0px;
  background-color: white;
  border: 1px solid #c2c2c2;
  overflow: hidden;
  display: inline-block;
  margin: 40px 0;
  vertical-align: top;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item {
    margin: 20px auto;
    padding: 15px 0;
    width: 360px;
  }
}
@media screen and (max-width: 980px) and (max-width: 600px) {
  .block_rev .block_rew_item {
    margin: 10px auto;
    width: 300px;
  }
}

.block_rev .block_rew_item .top_block_2 {
  padding: 0 60px !important;
  margin-bottom: 10px;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .top_block_2 {
    padding: 0 15px !important;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_item .top_block_2 {
    padding: 0 5px !important;
  }
}
.block_rev .block_rew_item .top_block_2 p {
  font-size: 16.4px !important;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .top_block_2 p {
    font-size: 10.44px !important;
    margin-right: 2px;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_item .top_block_2 p {
    font-size: 9.2px !important;
    margin-right: 4px;
  }
}
.block_rev .block_rew_item .top_block {
  margin: 28px 0px 11px;
  padding: 0 30px;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .top_block {
    margin: 10px 0;
    padding: 0 14px;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_item .top_block {
    margin: 0px 0;
    padding: 0 5px;
  }
}
.block_rev .block_rew_item .top_block p {
  font-size: 15px;
  margin-right: 4px;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .top_block p {
    font-size: 9.6px;
    margin-bottom: 0px;
    margin-right: 7px;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_item .top_block p {
    font-size: 8.4px;
    margin-right: 6px;
    margin-bottom: 0;
  }
}
.block_rev .block_rew_item .top_block .star_item span {
  font-size: 21.09px;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .top_block .star_item span {
    font-size: 12.4px;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_item .top_block .star_item span {
    font-size: 10px;
  }
}
.block_rev .block_rew_item .block_line_hr:before {
  content: '';
  display: inline-block;
  width: 114%;
  margin-right: 14px;
  position: relative;
  left: -7%;
  height: 1px;
  background-color: #c2c2c2;
  overflow: hidden;
}
.block_rev .block_rew_item .middle_block_2 {
  padding: 0px 65px  !important;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .middle_block_2 {
    padding: 0px 19px !important;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_item .middle_block_2 {
    padding: 0px 5px !important;
  }
}
.block_rev .block_rew_item .middle_block {
  margin: 15px 0px;
  padding: 0px 35px 0px;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .middle_block {
    padding: 0px 15px;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_item .middle_block {
    padding: 0px 5px;
  }
}
.block_rev .block_rew_item .middle_block .star_item {
  margin-bottom: 7px;
}
.block_rev .block_rew_item .middle_block .star_item span {
  font-size: 19px;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .middle_block .star_item span {
    font-size: 11px;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_item .middle_block .star_item span {
    font-size: 11px;
  }
}
.block_rev .block_rew_item .slider_block {
  padding: 0px 35px;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .slider_block {
    padding: 0px 15px;
  }
}
.block_rev .block_rew_item .slider_block .title_slider_top {
  font-size: 23px;
  margin-bottom: 25px;
  margin-top: 9px;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .slider_block .title_slider_top {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_item .slider_block .title_slider_top {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.block_rev .block_rew_item .slider_block .title_slider {
  font-size: 18px;
  text-decoration: underline;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .slider_block .title_slider {
    font-size: 12px;
  }
}
@media screen and (max-width: 600px) {
  .block_rev .block_rew_item .slider_block .title_slider {
    font-size: 11px;
  }
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .slider_block .text_slider {
    font-size: 11px;
  }
}
.block_rev .block_rew_item .slider_block .form__submit {
  background-color: #0da010;
  font-size: 29px;
  color: white;
  padding: 12px 17px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  list-style: none;
  border: none;
  margin-top: 15px;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .slider_block .form__submit {
    font-size: 20px;
    padding: 6px 12px;
    margin-top: 12px;
  }
}
.block_rev .block_rew_item .slider_block .carousel-control {
  background: none;
  top: 70px;
}
.block_rev .block_rew_item .slider_block .carousel-inner {
  position: relative;
  width: 92%;
  overflow: hidden;
  margin-left: 6%;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .slider_block .carousel-inner {
    width: 86%;
    margin-left: 7%;
  }
}
.block_rev .block_rew_item .slider_block .carousel-control.right {
  right: -43%;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .slider_block .carousel-control.right {
    right: -43%;
  }
}
.block_rev .block_rew_item .slider_block .carousel-control.left {
  left: -43%;
}
@media screen and (max-width: 980px) {
  .block_rev .block_rew_item .slider_block .carousel-control.left {
    left: -43%;
  }
}
.block_rev .block_rew_item .slider_block .arrow_right:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(http://xn--knig-immobilien-8sb.net/wp-content/uploads/Rating_Tool_Data/images/arrow_r.png);
}
.block_rev .block_rew_item .slider_block .arrow_left:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(http://xn--knig-immobilien-8sb.net/wp-content/uploads/Rating_Tool_Data/images/arrow_l.png);
}

/*star radio*/
.rating {
  overflow: hidden;
  display: inline-block;
}

/*.rating-star:nth-child(1) {*/
  /*margin-left: 20px;*/
/*}*/
@media screen and (max-width: 980px) {
  .rating-star:nth-child(1) {
    margin-left: 5px;
  }
}
.text_star{
  display: inline-block;
  vertical-align: middle;
  width: 66%;}
.rating{
  display: inline-block;
  vertical-align: middle;
  width: 32%;
  margin-left: 5px;
}
.rating-star {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 22px;
  background: url("http://xn--knig-immobilien-8sb.net/wp-content/uploads/Rating_Tool_Data/images/star.png");
  margin-bottom: 0px;
}
@media screen and (max-width: 980px) {
  .rating-star {
    display: inline-block;
    vertical-align: middle;
    width: 17px;
    height: 11px;
    background: url("http://xn--knig-immobilien-8sb.net/wp-content/uploads/Rating_Tool_Data/images/star.png") no-repeat;
    background-size: 76%;
  }
}
@media screen and (max-width: 600px) {
  .rating-star {
    width: 14px;
    height: 10px;
  }
}

.rating-star:hover {
  opacity: 0.9;
}
