
doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html
	head
			meta(http-equiv = 'Content-Type', content = 'text/html; charset=utf-8')
			meta(name="viewport" content="width=device-width, initial-scale=1" )
			link(link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css')
			//build:css css/vendor.css
			link(rel="stylesheet", href="bower/normalize-css/normalize.css")
			//endbuild
			//build:css css/main.css
			link(rel="stylesheet" type='text/css' href="/css/main.css")
			//endbuild
			//build:js js/modernizr.js
			script(src="bower/modernizr/modernizr.js")
			//endbuild
			title
				block title
	body
			block content





			//build:js js/vendor.js
			script(src="/bower/jquery/dist/jquery.min.js")
			script(src="/bower/bootstrap/dist/js/bootstrap.min.js")
			script(src="/bower/bootstrap/dist/js/carousel.js")
			//endbuild

			//build:js js/main.js
			script(src="/js/main.js")
			//endbuild